.savetargetinfo {
  display: flex;
  justify-content: space-between;
}
.moreabout__navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.moreicons {
  font-size: 20px;
  cursor: pointer;
  color: #A8A8A8;
}
.savetargetinfo__content {
  width: 60%;
  margin-left: 200px;
  padding-right: 100px;
}
.savetargetinfo__subcontext {
   margin: 50px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.savetargetinfo__header {
  display: flex;
  align-items: center;
}
.savetargetinfo__icon-btn {
  font-size: 16px;
  padding: 14px 17px;
  border-radius: 50%;
  color: #fff;
  border: none;
  background-color: #512DA8;
  margin-right: 12px;
}
.savetargetinfo__name {
  font-size: 17px;
  font-weight: 600;
}
.savetargetinfo__date {
  color: #757575;
}
.savetargetinfo__category-name {
   margin-bottom: 32px;
  font-size: 28px;
  font-weight: 700;
}
.savetargetinfo__recommend {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 55px 70px;
  border: 1px dashed #b1b1b1;
  color: #b1b1b1;

}
.savetargetinfo__recommend {
  margin-top: 40px;
}
.reimg {
  position: relative;
  bottom: 10px;
}



















