.container {
  width: 70%;
  margin: 0 auto;
}
.inputHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.inputHeader__icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.inputHeader__menu {
  display: flex;
  align-items: center;
}
.inputHeader__content {
  display: flex;
  align-items: center;
}
.input-publishbtn {
  padding: 4px 10px;
  border-radius: 20px;
  background-color: #1A8917;
  color: #fff;
  border: none;
  margin-right: 12px;
  cursor: pointer;
}
.inputHeader__content .bx-dots-horizontal-rounded {
  margin-right: 12px;
  font-size: 20px;
  color: #757575;
}
.input-fabelll {
  font-size: 20px;
  color: #757575;
  margin-right: 12px;
}

.input-btn {
  cursor: pointer;
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  background-color:#512DA8;
  font-size: 16px;
  color: #fff;
}
.inputmain {
  width: 75%;
  margin: 0 auto;
  height: 450px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.inputmain::-webkit-scrollbar{
  width: 0; 
}
.inputmain__title {
  margin-bottom: 20px;
  font-size: 30px;
  border: none;
  outline: none;
  padding: 0 10px;
  letter-spacing: 2px;
}
.inputmain__small {
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.input-text {
  text-align: center;
  color: #505050;
  font-size: 22px;
}
.textareaaa {
  width: 700px;
  border: none;
  outline: none;
  font-size: 18px;
}
.encrement-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 38px;
  height: 38px;
  /* padding: 5px 23px 5px 10px; */
  border: 1px solid #000;
  display: inline-block;
  border-radius: 50%;
  font-size: 20px;
  background-color: #fff;
  margin-right: 18px;
}
.dff {
  display: flex;
}



















